* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  /* border: 2px solid red; */
}

body {
  background-color: hsl(0, 0%, 8%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: hsl(0, 0%, 12%);
  width: 300px;
  height: 500px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
}

.author {
  /* border: 2px solid red; */
  width: 90%;
  height: 40%;
}

.link-section {
  padding: 10px;
  /* border: 2px solid red; */
  width: 90%;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.link-box {
  background-color: hsl(0, 0%, 20%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 250px;
  height: 40px;
  border-radius: 4px;
  /* border: 2px solid green; */
}

.link-box {
  font-size: 14px;
  font-weight: 600;
  font-family: Inter;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}

.author {
  display: flex;
  flex-direction: column;
  font-family: Inter;
  justify-content: space-between;
  align-items: center;
}

.avatar-img {
  margin-top: 20px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  /* border: 2px solid red; */
}

.avatar-name {
  margin-top: 10px;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
  /* border: 2px solid red; */
}

.city-name {
  margin-bottom: 20px;
  font-weight: bold;
  color: hsl(75, 94%, 57%);
  /* border: 2px solid red; */
}

.quote {
  font-weight: 300;
  font-size: 12px;
  color: hsl(0, 0%, 100%);
  font-size: small;
  text-align: center;
  /* border: 2px solid red; */
}

.link-box:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 20%);
}
